.heading {
  font-family: $ff-cardo;
}

.h1 {
  font-size: $fs-900;
}
.h2 {
  font-size: $fs-800;
}
.h3 {
  font-size: $fs-700;
}
.h4 {
  font-size: $fs-600;
}
.h5 {
  font-size: $fs-500;
}
.paragraph {
  font-size: $fs-400;
  font-family: $ff-dm-sans;
}
